<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iris Application</title>
</head>
<body>
    <h1>iris Django Application</h1>
    <hr>
    <form action ="result" >
        Sepal length : <input type = "number" name = "sepal_length" required><br>
        Sepal width : <input type = "number" name = "sepal_width" required><br>
        Petal length : <input type = "number" name = "petal_length" required><br>
        Petal width : <input type = "number" name = "petal_width" required><br>
        <input type = "submit">


    </form>
</body>
</html>